<template>
    <b-container class="mt-2">
        <div  class="d-flex justify-content-start">
            <b-button variant="primary" @click="addBed">Add</b-button>
        </div>
        <EditBed 
            ref="editBed"
            v-bind:bed="currentBed" 
            v-bind:valueTypes="valueTypes" 
            @ok="editBedOk" />
        <BedList 
            v-bind:beds="beds"
            @edit-bed="editBed"
            @delete-bed="deleteBed"
            />
    </b-container>
</template>

<script>
    import BedList from '../components/BedList'
    import EditBed from "../components/EditBed";

    import ValueTypesService from '../services/ValueTypesService'
    const valueTypesService = new ValueTypesService()

    import BedService from '../services/BedService'
    const bedService = new BedService()

    import AuthService from '../services/AuthService'
    const authService = new AuthService()

    export default {
        components: {
            BedList,
            EditBed
        },
        data() {
            return {
                beds: [],
                currentBed: {},
                isNewBed: false,
                showEditBed: false,
                valueTypes: [ ]
            }
        },
        methods: {
            addBed() {
                this.currentBed = {
                    name: 'new Bed',
                    sensors: [],
                    actors: []
                }

                this.isNewBed = true
                this.$refs['editBed'].show()
            },
            getBeds() {
                bedService.getBedsAsync(
                    () => {
                        authService.logout()
                        this.$router.push({ name: 'Login' })
                    },
                    (code, message) => alert(message))
                    .then((bedsResult) => this.beds = bedsResult)
            },
            editBed(bed) {
                this.currentBed = bed
                this.isNewBed = false
                this.$refs['editBed'].show()
            },
            editBedOk(bed) {
                if(this.isNewBed) {
                    bedService.addBedAsync(
                        bed,
                        () => {
                            authService.logout()
                            this.$router.push({ name: 'Login' })
                        },
                        (code, message) => {
                            this.$refs['editBed'].show()
                            alert(message)
                        })
                        .then(this.getBeds())
                } else {
                    bedService.updateBedAsync(
                        bed,
                        () => {
                            authService.logout()
                            this.$router.push({ name: 'Login' })
                        },
                        (code, message) => {
                            this.$refs['editBed'].show()
                            alert(message)
                        })
                        .then(this.getBeds())
                }
            },
            deleteBed(bed) {
                bedService.deleteBedAsync(
                    bed.id,
                    () => {
                        authService.logout()
                        this.$router.push({ name: 'Login' })
                    },
                    (code, message) => alert(message))
                    .then(this.getBeds())
            }
        },
        created() {
            this.getBeds()
            valueTypesService.getValueTypesAsync()
                .then((valueTypesResult) => this.valueTypes = valueTypesResult)
        }
    }
</script>

<style scoped>

</style>
