<template>
    <b-container class="mt-2">
        <div  class="d-flex justify-content-start">
            <b-button variant="primary" @click="addGrowCycle">Add</b-button>
        </div>
        <EditGrowCycle 
            ref="editGrowCycle"
            v-bind:growCycle="currentGrowCycle" 
            v-bind:plants="plants"
            v-bind:beds="beds"
            @ok="editGrowCycleOk"
        /> 
        <GrowCycleList 
            v-bind:grow-cycles="growCycles"
            v-bind:beds="beds"
            v-bind:plants="plants"
            @edit-grow-cycle="editGrowCycle"
            @delete-grow-cycle="deleteGrowCycle"
            @close-grow-cycle="closeGrowCycle"
        />
    </b-container>
</template>

<script>
    import GrowCycleList from '../components/GrowCycleList'
    import EditGrowCycle from '../components/EditGrowCycle';

    import GrowCyclesService from '../services/GrowCyclesService'
    const growCyclesService = new GrowCyclesService()

    import BedService from '../services/BedService'
    const bedService = new BedService()

    import PlantsService from '../services/PlantsService'
    const plantService = new PlantsService()

    import AuthService from '../services/AuthService'
    const authService = new AuthService()

    export default {
        components: {
            GrowCycleList,
            EditGrowCycle
        },
        data() {
            return {
                growCycles: [],
                plants: [],
                beds: [],
                currentGrowCycle: {},
                isNewGrowCycle: false,
                showEditGrowCycle: false,
                valueTypes: [ ]
            }
        },
        methods: {
            addGrowCycle() {
                this.currentGrowCycle = {
                    startDate: new Date(Date.now()),
                    bedId: 0,
                    plantTypeId: 0
                }

                this.isNewGrowCycle = true
                this.$refs['editGrowCycle'].show()
            },
            getGrowCycles() {
                growCyclesService.getGrowCyclesAsync(
                    () => {
                        authService.logout()
                        this.$router.push({ name: 'Login' })
                    },
                    (code, message) => alert(message))
                    .then((growCyclesResult) => this.growCycles = growCyclesResult.filter(g => !g.closed))
            },
            editGrowCycle(growCycle) {
                this.currentGrowCycle = growCycle
                this.isNewGrowCycle = false
                this.$refs['editGrowCycle'].show()
            },
            editGrowCycleOk(growCycle) {
                if(this.isNewGrowCycle) {
                    growCyclesService.addGrowCycleAsync(
                        growCycle,
                        () => {
                            authService.logout()
                            this.$router.push({ name: 'Login' })
                        },
                        (code, message) => {
                            this.$refs['editGrowCycle'].show()
                            alert(message)
                        })
                        .then(this.getGrowCycles())
                } else {
                    growCyclesService.updateGrowCycleAsync(
                        growCycle,
                        () => {
                            authService.logout()
                            this.$router.push({ name: 'Login' })
                        },
                        (code, message) => {
                            this.$refs['editGrowCycle'].show()
                            alert(message)
                        })
                        .then(this.getGrowCycles())
                }
            },
            deleteGrowCycle(growCycle) {
                growCyclesService.deleteGrowCyclesAsync(
                    growCycle.id,
                    () => {
                        authService.logout()
                        this.$router.push({ name: 'Login' })
                    },
                    (code, message) => alert(message))
                    .then(this.getGrowCycles())
            },
            closeGrowCycle(growCycle) {
                growCycle.closed = true

                growCyclesService.updateGrowCyclesAsync(
                    growCycle,
                    () => {
                        authService.logout()
                        this.$router.push({ name: 'Login' })
                    },
                    (code, message) => alert(message))
                    .then(this.getGrowCycles())
            }
        },
        created() {
            this.getGrowCycles()

            plantService.getPlantsAsync()
                .then((plantsResult) => this.plants = plantsResult)
            
            bedService.getBedsAsync()
                .then((bedsResult) => this.beds = bedsResult)
        }
    }
</script>

<style scoped>

</style>
