<template>
    <b-container class="mt-2">
        <NotificationList @delete-notification="deleteNotification" v-bind:notifications="notifications"/>
    </b-container>
</template>

<script>
import NotificationList from '../components/NotificationList'
import NotificationService from'../services/NotificationService'

const service = new NotificationService();

export default {
    name:"Notifications",
    components:{
        NotificationList
    },
    data() {
        return {
            notifications: []
        }
    },
    methods:{
        getNotifications(){
            service.GetNotificationsAsync().then((notificationResults)=>this.notifications = notificationResults);

        },
        deleteNotification(notification){
            service.RemoveNotificationAsync(notification.id).then(this.getNotifications());
        }
    },
    created(){
        this.getNotifications()
    }
}
</script>

<style scoped>

</style>
