<template>
    <b-container class="mt-2">
        <div  class="d-flex justify-content-start">
            <b-button variant="primary" @click="addPlant">Add</b-button>
        </div>
        <EditPlant 
            ref="editPlant"
            v-bind:plant="currentPlant" 
            v-bind:valueTypes="valueTypes" 
            @ok="editPlantOk" />
        <PlantList 
            v-bind:plants="plants"
            @edit-plant="editPlant"
            @delete-plant="deletePlant"
            />
    </b-container>
</template>

<script>
    import PlantList from '../components/PlantList'
    import EditPlant from "../components/EditPlant";

    import ValueTypesService from '../services/ValueTypesService'
    const valueTypesService = new ValueTypesService()

    import PlantsService from '../services/PlantsService'
    const plantService = new PlantsService()

    import AuthService from '../services/AuthService'
    const authService = new AuthService()

    export default {
        components: {
            PlantList,
            EditPlant
        },
        data() {
            return {
                plants: [],
                currentPlant: {},
                isNewPlant: false,
                showEditPlant: false,
                valueTypes: [ ]
            }
        },
        methods: {
            addPlant() {
                this.currentPlant = {
                    name: 'new Plant',
                    sensors: [],
                    actors: []
                }

                this.isNewPlant = true
                this.$refs['editPlant'].show()
            },
            getPlants() {
                plantService.getPlantsAsync(
                    () => {
                        authService.logout()
                        this.$router.push({ name: 'Login' })
                    },
                    (code, message) => alert(message))
                    .then((plantsResult) => this.plants = plantsResult)
            },
            editPlant(plant) {
                this.currentPlant = plant
                this.isNewPlant = false
                this.$refs['editPlant'].show()
            },
            editPlantOk(plant) {
                if(this.isNewPlant) {
                    plantService.addPlantAsync(
                        plant,
                        () => {
                            authService.logout()
                            this.$router.push({ name: 'Login' })
                        },
                        (code, message) => {
                            this.$refs['editPlant'].show()
                            alert(message)
                        })
                        .then(this.getPlants())
                } else {
                    plantService.updatePlantAsync(
                        plant,
                        () => {
                            authService.logout()
                            this.$router.push({ name: 'Login' })
                        },
                        (code, message) => {
                            this.$refs['editPlant'].show()
                            alert(message)
                        })
                        .then(this.getPlants())
                }
            },
            deletePlant(plant) {
                plantService.deletePlantAsync(
                    plant.id,
                    () => {
                        authService.logout()
                        this.$router.push({ name: 'Login' })
                    },
                    (code, message) => alert(message))
                    .then(this.getPlants())
            }
        },
        created() {
            this.getPlants()
            valueTypesService.getValueTypesAsync()
                .then((valueTypesResult) => this.valueTypes = valueTypesResult)
        }
    }
</script>

<style scoped>

</style>
