<template>
    <ul class="list-group mt-2">
        <BedListItem 
            v-bind:bed="bed"  
            v-bind:key="bed.id" 
            v-for="bed in beds" 
            @delete-bed="deleteBed"
            @edit-bed="editBed" />
    </ul>
</template>

<script>
import BedListItem from './BedListItem'

export default {
    name: 'BedList',
    components: {
        BedListItem
    },
    props: ["beds"],
    methods: {
        deleteBed(bed) {
            this.$emit('delete-bed', bed)
        },
        editBed(bed) {
            this.$emit('edit-bed', bed)
        }
    }
}
</script>