<template>
    <b-modal 
        ref="editBedModal"
        v-bind:title="bed.name" 
        @ok="$emit('ok', bed)" 
    >
        <b-form-group
            description="The beds name."
            label="Name"
            label-for="bedNameInput"
        >
            <b-form-input id="bedNameInput" v-model="bed.name" />
        </b-form-group>
        <b-form-group
            label="Actors"
        >
            <SensorsEdit v-bind:items="bed.actors" v-bind:valueTypes="valueTypes" uniqueId="actors"/>
        </b-form-group>
        <b-form-group
            label="Sensors"
        >
            <SensorsEdit v-bind:items="bed.sensors" v-bind:valueTypes="valueTypes" uniqueId="sensors" />
        </b-form-group>
    </b-modal>
</template>

<script>
import SensorsEdit from './SensorsEdit'

export default {
    name: 'EditBed',
    components: {
        SensorsEdit
    },
    props: ['bed', 'valueTypes'],
    methods: {
        show() {
            this.$refs['editBedModal'].show()
        }
    }
}  
</script>

<style scoped>

</style>>
