<template>
    <b-modal 
        ref="editPlantModal"
        v-bind:title="plant.name" 
        @ok="$emit('ok', plant)" 
    >
        <b-form-group
            description="The plants name."
            label="Name"
            label-for="plantNameInput"
        >
            <b-form-input id="plantNameInput" v-model="plant.name" />
        </b-form-group>
        <b-form-group
            description="How long the plant is expected to be growing."
            label="Grow Cycle Days"
            label-for="plantGrowCycleDaysInput"
        >
            <b-form-input type="number" id="plantGrowCycleDaysInput" v-model.number="plant.growCycleDays" />
        </b-form-group>
        <b-form-group
            label="Value Limits"
        >
            <ValueLimitsEdit
                v-bind:items="plant.valueLimits" 
                v-bind:valueTypes="valueTypes"
            />
        </b-form-group>
         <b-form-group
            label="User Messages"
        >
            <UserMessagesEdit
                v-bind:items="plant.userMessages" 
            />
        </b-form-group>
    </b-modal>
</template>

<script>
import ValueLimitsEdit from './ValueLimitsEdit'
import UserMessagesEdit from './UserMessagesEdit'

export default {
    name: 'EditPlant',
    components: {
        ValueLimitsEdit,
        UserMessagesEdit
    },
    props: ['plant', 'valueTypes'],
    methods: {
        show() {
            this.$refs['editPlantModal'].show()
        }
    }
}  
</script>

<style scoped>

</style>>
