<template>
    <b-modal 
        ref="editGrowCycleModal"
        title="Grow Cycle" 
        @ok="$emit('ok', growCycle)" 
    >
        <b-form-group
            description="The grow cycles start date."
            label="Start Date"
            label-for="startDateInput"
        >
            <b-form-datepicker id="startDateInput" v-model="growCycle.startDate" />
        </b-form-group>
        <b-form-group
            description="The grow cycles bed."
            label="Bed"
            label-for="bedInput"
        >
            <b-form-select 
                id="bedInput" 
                v-model="growCycle.bedId" 
                v-bind:options="beds.map(b => { return { value: b.id, text: b.name }})"
            />
        </b-form-group>
        <b-form-group
            description="The grow cycles plant."
            label="Plant"
            label-for="plantInput"
        >
            <b-form-select 
                id="plantInput" 
                v-model="growCycle.plantTypeId" 
                v-bind:options="plants.map(p => { return { value: p.id, text: p.name }})"
            />
        </b-form-group>
    </b-modal>
</template>

<script>
export default {
    name: 'EditGrowCycle',
    props: ['growCycle', 'beds', 'plants'],
    methods: {
        show() {
            this.$refs['editGrowCycleModal'].show()
        }
    }
}  
</script>

<style scoped>

</style>>
