<template>
    <li class="list-group-item">
        <div class="d-flex p-2 justify-content-between">
            <span>{{ new Date(growCycle.startDate).toISOString().substring(0, 10) }}</span>
            <span>Bed: {{ bed ? bed.name : '' }}, Plant: {{ plant ? plant.name : '' }}</span>
            <b-button-group>
                <b-tooltip target="editGrowCycle" triggers="hover">
                    Edit grow cycle
                </b-tooltip>
                <b-button id="editGrowCycle" @click="$emit('edit-grow-cycle', JSON.parse(JSON.stringify(growCycle)))">
                    <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                    </svg>
                </b-button>
                <b-tooltip target="closeGrowCycle" triggers="hover">
                    Close grow cycle
                </b-tooltip>
                <b-button id="closeGrowCycle" @click="$emit('close-grow-cycle', JSON.parse(JSON.stringify(growCycle)))">
                    <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </b-button>
                <b-tooltip target="deleteGrowCycle" triggers="hover">
                    Delete grow cycle
                </b-tooltip>
                <b-button id="deleteGrowCycle" variant="danger" @click="$emit('delete-grow-cycle', JSON.parse(JSON.stringify(growCycle)))">
                    <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                </b-button>
            </b-button-group>
        </div>
    </li>
</template>

<script>
    export default {
        name: 'GrowCycleListItem',
        props: ['growCycle', 'bed', 'plant'],
    }
</script>
