<template>
    <ul class="list-group mt-2">
        <GrowCycleListItem 
            v-bind:bed="beds.filter(b => b.id === growCycle.bedId).shift()"
            v-bind:plant="plants.filter(p => p.id === growCycle.plantTypeId).shift()"
            v-bind:growCycle="growCycle"
            v-bind:key="growCycle.id" 
            v-for="growCycle in growCycles" 
            @delete-grow-cycle="deleteGrowCycle"
            @close-grow-cycle="closeGrowCycle"
            @edit-grow-cycle="editGrowCycle" />
    </ul>
</template>

<script>
import GrowCycleListItem from './GrowCycleListItem'

export default {
    name: 'GrowCycleList',
    components: {
        GrowCycleListItem
    },
    props: ["growCycles", "beds", "plants"],
    methods: {
        deleteGrowCycle(bed) {
            this.$emit('delete-grow-cycle', bed)
        },
        closeGrowCycle(bed) {
            this.$emit('close-grow-cycle', bed)
        },
        editGrowCycle(bed) {
            this.$emit('edit-grow-cycle', bed)
        }
    }
}
</script>
