<template>
    <b-navbar class="navbar-dark bg-dark" toggleable="md">
        <b-navbar-toggle target="navbar-toggle-collapse" />
        <b-navbar-brand>GrowApi</b-navbar-brand>
        <b-collapse id="navbar-toggle-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item class="nav-link" v-bind:class="{ active:$route.path === '/Dashboard' }" to="Dashboard">Dashboard</b-nav-item>
                <b-nav-item class="nav-link" v-bind:class="{ active:$route.path === '/Plants' }" to="Plants">Plants</b-nav-item>
                <b-nav-item class="nav-link" v-bind:class="{ active:$route.path === '/Beds' }" to="Beds">Beds</b-nav-item>
                <b-nav-item class="nav-link" v-bind:class="{ active:$route.path === '/GrowCycles' }" to="GrowCycles">Grow Cycles</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
        <b-navbar-nav is-nav>
            <b-nav-item to="Notifications" class="nav-link mt-1">
                <svg class="bi bi-bell-fill" width="1.4em" height="1.4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                </svg>
                <b-badge 
                    pill 
                    v-bind:variant="notificationsBadgeVariant"
                    class="notifications-badge"
                    v-if="notificationsLength > 0"
                >{{ notificationsLength }}</b-badge>  
            </b-nav-item>
            <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret right>
                <template v-slot:button-content>
                    <b-avatar v-bind:src="gravatarUrl"></b-avatar>
                </template>
                <b-dropdown-text>{{ email }} <br /><small>token exp: {{ exp.toISOString() }}</small></b-dropdown-text>
                <b-dropdown-item-button variant="primary" @click=logout>Logout</b-dropdown-item-button>
            </b-dropdown>
        </b-navbar-nav>
    </b-navbar>
</template>

<script>
import gravatar from '../../node_modules/gravatar/lib/gravatar'

import AuthService from '../services/AuthService'
const authService = new AuthService()

import NotificationService from '../services/NotificationService'
const notificationsService = new NotificationService()

export default {
    data() {
        let email = authService.getEmail()
        return {
            gravatarUrl: gravatar.url(email, { d: 'robohash'}, true),
            exp: authService.getExp(),
            email,
            notificationsLength: 0,
            notificationsBadgeVariant: 'primary'
        }
    },
    methods:{
        logout(){
            authService.logout()
            this.$emit('logout')
            this.$router.push({ name: 'Login' })
        },
        getNotifications() {
            notificationsService.GetNotificationsAsync()
                .then(notifications => {
                    this.notificationsLength = notifications.length
                    this.notificationsBadgeVariant = 'primary'

                    if(notifications.some(a => a.type === 'SystemHealthWarning' || a.type === 'Warning')) {
                        this.notificationsBadgeVariant = 'warning'
                    }

                    if(notifications.some(a => a.type === 'Alert')) {
                        this.notificationsBadgeVariant = 'danger'
                    }
                })
        }
    },
    created() {
        this.getNotifications();

        setInterval(this.getNotifications, 5000)
    }
}
</script>

<style scoped>
.notifications-badge {
    position: relative;
    top: 0.5em;
    right: 1em;
}
</style>
