<template>
    <li class="list-group-item">
        <div class="d-flex p-2 justify-content-between">
        <h3>{{notification.type}}</h3>
        <p>{{notification.message}}</p>
        <b-button v-if="notification.id" @click="$emit('delete-notification', notification)" variant="danger">
            <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
        </b-button>
        </div>
    </li>
</template>
<script>
export default {
    name: "NotificationListItem",
    props:["notification"]
}
</script>
<style scoped>

</style>