<template>
    <div>
        <ul class="list-group mt-2" v-bind:key="notification.id" v-for="notification in notifications">
            <NotificationListItem @delete-notification="deleteNotification" v-bind:notification="notification"/>
        </ul>
    </div>
</template>

<script>
import NotificationListItem from './NotificationListItem';

export default {
    name:"NotificationsList",
    components: {NotificationListItem},
    props:["notifications"],
    methods:{
        deleteNotification(notification){
            this.$emit('delete-notification',notification)
        }
    }
}
</script>

<style scoped>

</style>