<template>
    <ul class="list-group mt-2">
        <PlantListItem 
            v-bind:plant="plant"  
            v-bind:key="plant.id" 
            v-for="plant in plants" 
            @delete-plant="deletePlant"
            @edit-plant="editPlant" />
    </ul>
</template>

<script>
import PlantListItem from './PlantListItem'

export default {
    name: 'PlantList',
    components: {
        PlantListItem
    },
    props: ["plants"],
    methods: {
        deletePlant(plant) {
            this.$emit('delete-plant', plant)
        },
        editPlant(plant) {
            this.$emit('edit-plant', plant)
        }
    }
}
</script>
