<template>
    <div>
        <b-button :class="visible ? null : 'collapsed'" @click="visible = !visible">Add</b-button>
        <b-collapse class="collapse" v-bind:id="uniqueId" v-model="visible">
            <SensorEdit v-bind:valueTypes="valueTypes" v-bind:uniqueId="uniqueId" @ok=addItem />
        </b-collapse>
        <b-table striped hover v-bind:items="items" v-bind:fields="fields">
            <template v-slot:cell()="data">
                {{ data.value }}
            </template>
            <template v-slot:cell(Actions)="data">
                <b-button @click="removeItem(data.item)">
                    <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                </b-button>
            </template>
        </b-table>
    </div>
</template>

<script>
import SensorEdit from './SensorEdit'

export default {
    components: {
        SensorEdit
    },
    data() {
        return {
            uniqueIdSelector: `#${this.uniqueId}`,
            visible: false,
            fields: [
                'name',
                'valueType',
                'Actions'
            ]
        }
    },
    methods: {
        addItem(item) {
            this.items.push(item)
            this.visible = false
        },
        removeItem(item) {
            let index = this.items.indexOf(item);
            if(index !== -1) {
                this.items.splice(index, 1);
            }
        }
    },
    name: 'SensorsEdit',
    props: ['items', 'valueTypes', 'uniqueId']
}
</script>
