<template>
    <div class="mt-2 mb-2"><b-container>
        <b-form-group
            label="Name"
            v-bind:label-for="nameEditId"
        >
            <b-form-input v-bind:id="nameEditId" v-model="name" />
        </b-form-group>
        <b-form-group
            label="Value Type"
            v-bind:label-for="valueTypeEditId"
        >
            <b-form-select v-bind:id="valueTypeEditId" :options="valueTypes" v-model="valueType" />
        </b-form-group>
        <div class="d-flex justify-content-end">
            <b-button variant="danger" @click="$emit('ok', {name, valueType})">Ok</b-button>
        </div>
    </b-container></div>
</template>

<script>
export default {
    name: 'SensorEdit',
    data() {
        return {
            name: 'new Item',
            valueType: 'WaterLevel',
            nameEditId: `${this.uniqueId}itemNameInput`,
            valueTypeEditId: `${this.uniqueId}itemValueTypeInput`
        }
    },
    props: ['valueTypes', 'uniqueId']
}
</script>
