<template>
    <div class="mt-2 mb-2"><b-container>
        <b-form-group
            label="Day"
            label-for="dayEdit"
            description="The day the message should be shown. Note that is is zero based."
        >
            <b-form-input type="number" id="dayEdit" v-model.number="item.day" />
        </b-form-group>
        <b-form-group
            label="Message"
            label-for="messageEdit"
            description="The message that should be shown."
        >
            <b-form-input id="messageEdit" v-model="item.message" />
        </b-form-group>
        <div class="d-flex justify-content-end">
            <b-button @click="$emit('ok', item)">Ok</b-button>
        </div>
    </b-container></div>
</template>

<script>
export default {
    name: 'UserMessageEdit',
    props: ['item']
}
</script>
