<template>
    <div class="mt-2 mb-2"><b-container>
        <b-form-group
            label="Minimum Value"
            label-for="minimumValueEdit"
            description="The minimum value while this cycle command is active."
        >
            <b-form-input type="number" id="minimumValueEdit" v-model.number="item.minimumValue" />
        </b-form-group>
        <b-form-group
            label="Maximum Value"
            label-for="maximumValueEdit"
            description="The maximum value while this cycle command is active."
        >
            <b-form-input type="number" id="maximumValueEdit" v-model.number="item.maximumValue" />
        </b-form-group>
        <b-form-group
            label="Lower Warning Limit"
            label-for="lowerWarningLimitEdit"
            description="The lower warning limit while this cycle command is active."
        >
            <b-form-input type="number" id="lowerWarningLimitEdit" v-model.number="item.lowerWarningLimit" />
        </b-form-group>
        <b-form-group
            label="Upper Warning Limit"
            label-for="upperWarningLimitEdit"
            description="The upper warning limit while this cycle command is active."
        >
            <b-form-input type="number" id="upperWarningLimitEdit" v-model.number="item.upperWarningLimit" />
        </b-form-group>
        <b-form-group
            label="Seconds"
            label-for="secondsEdit"
            description="The number of seconds this cycle command will be active."
        >
            <b-form-input type="number" id="secondsEdit" v-model.number="item.seconds" />
        </b-form-group>
        <b-form-group
            label="Seconds before Warning"
            label-for="secondsBeforeWarningEdit"
            description="The number of seconds the value may take to adjust, until a warning is shown."
        >
            <b-form-input type="number" id="secondsBeforeWarningEdit" v-model.number="item.secondsBeforeWarning" />
        </b-form-group>
        <div class="d-flex justify-content-end">
            <b-button @click="$emit('ok', item)">Ok</b-button>
        </div>
    </b-container></div>
</template>

<script>

export default {
    name: 'ValueLimitCycleCommandEdit',
    props: ['item']
}
</script>
