<template>
    <div class="mt-2 mb-2"><b-container>
        <b-form-group
            label="First Day"
            label-for="firstDayEdit"
            description="The first day. Note that the day is zero-based."
        >
            <b-form-input type="number" id="firstDayEdit" v-model.number="item.firstDay" />
        </b-form-group>
        <b-form-group
            label="Last Day"
            label-for="lastDayEdit"
            description="The last day. Note that the day is zero-based. If the last day is growCycleDays -1, the limit is appleid until the Grow Cycle is closed."
        >
            <b-form-input id="lastDayEdit" v-model.number="item.lastDay" />
        </b-form-group>
        <b-form-group
            label="Value Type"
            label-for="valueTypeEdit"
        >
            <b-form-select id="valueTypeEdit" :options="valueTypes" v-model="item.valueType" />
        </b-form-group>
        <b-form-group
            label="Cycle"
        >
            <ValueLimitCycleCommandsEdit
                v-bind:items="item.cycle" 
            />
        </b-form-group>
        <div class="d-flex justify-content-end">
            <b-button @click="$emit('ok', item)">Ok</b-button>
        </div>
    </b-container></div>
</template>

<script>
import ValueLimitCycleCommandsEdit from './ValueLimitCycleCommandsEdit';

export default {
    name: 'ValueLimitEdit',
    components: {
        ValueLimitCycleCommandsEdit
    },
    props: ['valueTypes', 'item']
}
</script>
