<template>
    <div>
        <b-button @click="addItem">Add</b-button>
        <b-collapse class="collapse" v-model="visible">
            <ValueLimitCycleCommandEdit 
                v-bind:item="currentItem"
                @ok="editItemOk"
            />
        </b-collapse>
        <b-table striped hover v-bind:items="items" v-bind:fields="fields">
            <template v-slot:cell()="data">
                {{ data.value }}
            </template>
             <template v-slot:cell(cycleCommands)="data">
                {{ data.item.cycle.length }}
            </template>
            <template v-slot:cell(Actions)="data">
                <b-button-group>
                    <b-button  @click="editItem(data.item)">
                        <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg>
                    </b-button>
                    <b-button variant="danger" @click="removeItem(data.item)">
                        <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                    </b-button>
                </b-button-group>
            </template>
        </b-table>
    </div>
</template>

<script>
import ValueLimitCycleCommandEdit from './ValueLimitCycleCommandEdit'

export default {
    name: 'ValueLimitCycleCommandsEdit',
    components: {
        ValueLimitCycleCommandEdit
    },
    data() {
        return {
            visible: false,
            fields: [
                'minimumValue',
                'maximumValue',
                'seconds',
                'Actions'
            ],
            currentItem: {},
            isNewItem: false
        }
    },
    props: ['items'],
    methods: {
        removeItem(item) {
            let index = this.items.indexOf(item);
            
            if(index !== -1) {
                this.items.splice(index, 1);
            }
        },
        editItem(item) {
            this.currentItem = item
            this.isNewItem = false
            this.visible = true
        },
        editItemOk(item) {
            if(this.isNewItem) {
                this.items.push(item)
            }
            
            this.visible = false
        },
        addItem() {
            this.currentItem = {
                valueType: "WaterLevel",
                firstDay: 0,
                lastDay: 1,
                cycle: []
            }

            this.isNewItem = true
            this.visible = true
        }
    }
}
</script>
