<template>
  <div id="app">
    <NavBar v-if="isAuthenticated" />
    <router-view/>
  </div>
</template>

<script>
import NavBar from './components/NavBar'
import AuthService from './services/AuthService'
const authService = new AuthService();

export default {
  components: {
    NavBar
  },
  data(){
    return {
      isAuthenticated: false
    }
  },
  created() {
    this.isAuthenticated = authService.isAuthenticated()
  },
  watch: {
    $route(to) {
      if(to.name === 'Login') {
        this.isAuthenticated = false
      } else {
        this.isAuthenticated = authService.isAuthenticated()
      }
    }
  }
} 
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
